<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href="./public/css/bootstrap.min.css">
</head>
<body>
  <h1 class="text-center">start!</h1>
  <!-- auto injected -->
</body>
</html>
